@page
@model Milujeme_plarka.Pages.Random.GeneratedModel
@{
    ViewData["Title"] = "Generated";
}

    <a class="btn btn-secondary">Dej mi čempa more</a>

<h3>Champion:</h3>
<h3>Itemy:</h3>
<h3>Summonery:</h3>
<h3>Ukol:</h3>
