@page
@model Milujeme_plarka.Pages.Random.GeneratedModel
@{
    ViewData["Title"] = "Generated";
}

    <a class="btn btn-secondary" asp-page-handler="Champ">Dej mi čempa more</a>

<h3>Champion:@Model.Champion.ChampionName <img src="@Model.Champion.Image"  width="200"/></h3>
<h3>Itemy:@Model.Item1,@Model.Item2,@Model.Item3,@Model.Item4,@Model.Item5,@Model.Item6</h3>
<h3>Summonery:@Model.Spell1,@Model.Item2</h3>
<h3>Ukol:@Model.Ukol</h3>
