@page
@model Milujeme_plarka.Pages.Users.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Vytvoření uživatele</h2>
<p>@Model.StatusMessage</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Nový uživatel</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                <p>Pokud nezadáte vlastní uživatelské jméno, použije se automaticky email.</p>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Uložit</button> <a class="btn btn-light" asp-page="Index">Zpět</a>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
