@page
@model Milujeme_plarka.Pages.Users.PasswordModel
@{
    ViewData["Title"] = "Password";
}

<h2>Nastavení hesla k lokálnímu účtu</h2>
<p>@Model.StatusMessage</p>
<div>
    <form method="post">
        <input type="hidden" asp-for="Input.Id" />
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <input type="submit" value="Nastavit" class="btn btn-primary" />
        <a asp-page="/Administration/Users/Index" class="btn btn-light">Zpět</a>
    </form>
</div>