@page
@model Milujeme_plarka.Pages.AdminIndexModel
@{
    ViewData["Title"] = "AdminIndex";
}

<div>
    <a class="btn btn-secondary" asp-page="/Users/Index">Users</a>
    <a class="btn btn-secondary" asp-page="/Roles/Index">Roles</a>
    <a class="btn btn-secondary" asp-page="/Champions/Index">čampové</a>
    <a class="btn btn-secondary" asp-page="/Items/Index">itemové</a>
    <a class="btn btn-secondary" asp-page="/Quests/Index">úkolové</a>
    <a class="btn btn-secondary" asp-page="/Summoners/Index">sumonorovéasd</a>
</div>

