@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ještě lepší ultimátní braverování</h1>
    <a class="btn btn-secondary" asp-page="Champions/Create">Dej mi čempa more</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
