@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ještě lepší ultimátní braverování</h1>
    <a class="btn btn-secondary" asp-page="Random/Generated">Tak to pouštěj vole</a>
</div>
