@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privácní policie";
}
<h1>@ViewData["Title"]</h1>

<h1>tak tohle je to nejlepší co je mezi muži možno udělat</h1>
<img src="~/imgs/krakonosvole.png" />
<img src="~/imgs/tominjegej3.png" />
<h2>@ViewData["Title"]</h2>
