@page
@model Milujeme_plarka.Pages.Roles.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Odstranění role</h2>
<h3>Opravdu chcete uživatele odstranit?</h3>
<p>Dojde také k odstranění této role z profilů všech uživatelů.</p>
<div>
    <dl>
        <dt>Jméno a příjmení</dt>
        <dd>@Model.IdentityRole.Name </dd>
        <dt>Id</dt>
        <dd>@Model.IdentityRole.Id </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="IdentityRole.Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" />
        <a asp-page="./Index" class="btn">Zpět</a>
    </form>
</div>

