@page
@model Milujeme_plarka.Pages.Roles.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>Detail role</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Role</h3>
        <dl>
            <dt>Název</dt>
            <dd>@Model.Role.Name</dd>
            <dt>Id</dt>
            <dd>@Model.Role.Id </dd>
        </dl>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div><a class="btn" asp-page="Index">Zpět</a></div>
