@page
@model Milujeme_plarka.Pages.Quests.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Odstranění toho jo tady jo ukoly</h2>
<h3>Opravdu chcete yukolu odstranit?</h3>
<div>
    <dl>
        <dt>čamp</dt>
        <dd>@Model.Quest.QuestQuote</dd>
        <dt>Id</dt>
        <dd>@Model.Quest.QuestId</dd>
    </dl>

    <form method="post">
        <input type="submit" value="Odstranit" class="btn btn-danger" />
        <a asp-page="./Index" class="btn">Zpět</a>
    </form>
</div>