@page
@model Milujeme_plarka.Pages.Summoners.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Pryč dát summonr z datebaz</h2>
<h3>Fakt uplně pdát pryč??</h3>
<div>
    <dl>
        <dt>Samrn</dt>
        <dd>@Model.Summoner.SummonerName</dd>
        <dt>Id</dt>
        <dd>@Model.Summoner.SummonerName</dd>
    </dl>

    <form method="post">
        <input type="submit" value="Odstranit" class="btn btn-danger" />
        <a asp-page="./Index" class="btn">Zpět</a>
    </form>
</div>